<div class="media">
  <div class="media-left">
    <div class="avatar avatar-group">
      <div class="avatar avatar-medium avatar-missing"></div>
      <div class="avatar avatar-medium avatar-missing"></div>
      <div class="avatar avatar-medium avatar-missing"></div>
    </div>
  </div>
  <div class="media-body">
    <%= link_to item.name, team_path(item) %>
    <div class="pull-right">
      <%= time_ago_tag item.created_at %>
      <%= collapse_caret_link(options) if item.children? %>
      <i class="fa fa-ellipsis-h m-l-1" aria-hidden="true"></i>
    </div>
    <br>
    <small class="text-muted">No Members</small>
  </div>
  <hr class="media-hr">
</div>