<div class="d-flex justify-content-end">
  <div class="mr-auto d-inline-flex">
    <div class="circle-group mr-2">
      <%= user_avatar_collection item.team_users %>
    </div>
    <div>
      <%= link_to item.name, team_path(item) %>
    </div>
  </div>
  <%= time_ago_tag item.created_at %>
  <%= collapse_caret_link(options) if item.children? %>
  <i class="fa fa-ellipsis-h ml-3" aria-hidden="true"></i>
</div>
<hr class="my-2">