<div class="media">
  <div class="media-left">
    <div class="avatar avatar-group">
      <div class="avatar avatar-medium avatar-missing"></div>
      <div class="avatar avatar-medium avatar-missing"></div>
      <div class="avatar avatar-medium avatar-missing"></div>
    </div>
  </div>
  <div class="media-body">
    <%= link_to item.name, team_path(item) %>
    <div class="pull-right">
      <%= time_ago_tag item.created_at, class: 'm-r-1' %>
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </div>
    <br>
    <small class="text-muted">No Members</small>
    <% if item.children? %>
      <div class="pull-right">
        <%= collapse_caret_link(options) %>
      </div>
    <% end %>
  </div>
  <hr class="media-hr">
</div>