<div class="d-flex justify-content-end h-2 mb-2">
  <div>
    <div class="circle-group mr-2">
      <%= user_avatar_collection item.team_users %>
    </div>
  </div>
  <div class="mr-auto text-truncate">
    <%= link_to item.name, team_path(item) %>
    <%= collapse_caret_link(options) if item.children? %>
  </div>
  <div>
    <div class="text-nowrap">
      <%= time_ago_in_words item.created_at %>
    </div>
  </div>
</div>