<div class="media">
  <div class="media-left">
    <div class="avatar avatar-medium-missing"></div>
    <div class="avatar avatar-medium-missing avatar-group"></div>
    <div class="avatar avatar-medium-missing avatar-group"></div>
  </div>
  <div class="media-body">
    <%= link_to item.name, team_path(item) %>
    <%= time_ago_tag item.created_at, class: 'pull-right' %><br>
    <small class="text-muted">No Members</small>
  </div>
  <div class="sub-media">
    <%= sub_items %>
  </div>
</div>