<% provide :title, t('.title') %>
<h6 class="text-muted"><%= t 'activerecord.models.team.name' %></h6>
<h2><%= t '.title' %></h2>

<hr class="mb-5">
<%= render('form', user: @team, 
  save_link: submit_tag(t('buttons.save'), class: 'btn btn-primary'), 
  cancel_link: link_to(t('buttons.cancel'), @team, class: 'btn btn-link text-muted', role: 'button')) %>