<h1>Editing User</h1>

<div class='row'>
  <%= render('form', user: @user, 
    save_link: submit_tag(t('buttons.save'), class: 'btn btn-primary'), 
    cancel_link: link_to(t('buttons.cancel'), @user, class: 'btn btn-link text-muted', role: 'button')) %>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
