// Avatar images
.avatar {
	background-size: cover;
	background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  color: #fff;
  
  .content-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  //@extend .d-flex;
  //@extend .align-items-center;
  //@extend .justify-content-center;
}

@mixin avatar($size) {
  width: $size;
  height: $size;

  .initials {
    font-size: $size*0.5;
  }
}

.avatar.avatar-img {
	border: 1px solid $gray-lighter;
}

.avatar.avatar-missing {
	border: 1px solid $gray-lighter;
  background-color: $circle-bg-missing;
//  &:before {
//    content: &#x2715;
//  }
}

.avatar.avatar-group {
  width: $circle-size-medium * 2;
  .avatar {
    position: relative;
    float: left;
    margin-left: $circle-group-margin-left;
    &:nth-child(1) {
      margin-left: 0;
      z-index: 1;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    &:nth-child(3) {
      z-index: 3;
    }
  }
}

.table td.avatar {
	width: $circle-size; 
}