// Avatar images
img.avatar, div.avatar {
	background-size: cover;
	background-position: center;
	border: 1px solid $gray-lighter;
}

img.avatar.avatar-original, div.avatar.avatar-original {
	width: $avatar-original-size;
	height: $avatar-original-size;
}

img.avatar.avatar-medium, div.avatar.avatar-medium {
	width: $avatar-medium-size;
	height: $avatar-medium-size;
}

img.avatar.avatar-thumb, div.avatar.avatar-thumb {
	width: $avatar-thumb-size;
	height: $avatar-thumb-size;
}

div.avatar.avatar-medium-missing {
  position: relative;
  float: left;
  border-radius: $avatar-medium-size/2;
  border: 2px dashed $gray-lighter;
	width: $avatar-medium-size;
	height: $avatar-medium-size;
  margin-left: - 2.5rem;
  background-color: #fff;
  
  &:nth-child(1) {
    margin-left: 0;
    z-index: 3;
  }
  &:nth-child(2) {
    z-index: 2;
  }
  &:nth-child(3) {
    z-index: 1;
  }
}

.table td.avatar {
	width: $avatar-size; 
}