// Avatar images
img.avatar, div.avatar {
	background-size: cover;
	background-position: center;
	border: 1px solid $gray-lighter;
}

img.avatar.avatar-original, div.avatar.avatar-original {
	width: $avatar-original-size;
	height: $avatar-original-size;
}

img.avatar.avatar-medium, div.avatar.avatar-medium {
	width: $avatar-medium-size;
	height: $avatar-medium-size;
}

img.avatar.avatar-thumb, div.avatar.avatar-thumb {
	width: $avatar-thumb-size;
	height: $avatar-thumb-size;
}

div.avatar.avatar-medium-missing {
  border-radius: $avatar-medium-size/2;
  border: 2px dashed $gray-lighter;
	width: $avatar-medium-size;
	height: $avatar-medium-size;
}

div.avatar.avatar-group {
  left: 1.5rem - $avatar-medium-size;
  display: inline;
}

.table td.avatar {
	width: $avatar-size; 
}