.media, .sub-media {
  // Proper spacing between instances of .media
  margin-top: 0;
}

.media.media-text-middle .media-body {
  padding-top: $media-text-middle-padding-top;
}

.sub-media {
  margin-left: 25px;
}

hr.media-hr {
  margin-top: $media-hr-margin-y;
  margin-bottom: $media-hr-margin-y;
}