// Navbar
.navbar-main {
  border-bottom: 0;
  .nav-user > .nav-link {
    padding: 0rem;
  }
  .navbar-border-bottom {
    border-bottom: $border-width solid $navbar-main-border-color;
  }
}

.navbar-toggler {
  border: 0;
  padding: .5625rem .75rem .5625rem 0;
}

@media(min-width:768px) {
  .navbar-main {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}