// Pagination

.pagination-block {
	text-align: center;
	div.pagination {
    margin-top: 0;
		margin-bottom: 0;
	}
	ul.pagination {
    margin-top: 0;
		margin-bottom: 10px;
	}
//	.pagination-info {
//		margin-bottom: 20px;
//	}
}