// Variables

// Circle
$circle-size-original:      7.625rem !default; // 120px + 1px border * 2
$circle-size-medium:        3.25rem !default; // 50px + 1px border * 2
$circle-size-thumb:         2.375rem !default; // 38px + 1px border * 2
$circle-size:               3.125rem !default; // 50px
$circle-border-color:       darken($gray-200, 15%);
$circle-group-margin-left:  -2rem !default;

// Block
$blok-header-margin-top:      0;
$blok-header-margin-bottom:   3rem !default;
$blok-content-margin-top:     1.25rem !default;
$blok-content-margin-bottom:  1.25rem !default;

// Cards
$card-border-radius:       0;
$card-border-radius-inner: 0 !default;

// Footer
$footer-dark-color:                 rgba(255,255,255,.5) !default;
$footer-dark-hover-color:           rgba(255,255,255,.75) !default;
$footer-dark-active-color:          rgba(255,255,255,1) !default;
$footer-dark-disabled-color:        rgba(255,255,255,.25) !default;

// Navbar
$navbar-main-border-color: $hr-border-color;

// Media
$media-text-middle-padding-top: $circle-size-medium/2 - .75rem; // Avatar height/2 - base line-height
$media-hr-margin-y: .5rem;

$height: 3.25rem !default;
$heights: (
  0: 0,
  1: ($height * .5),
  2: $height,
  3: ($height * 1.5),
  4: ($height * 3),
  5: ($height * 3,25)
) !default;

// Colors
//
// Main colors

//$brand-primary: #04B3B3 !default;
$brand-primary: #1ABC9C !default;
$brand-success: #8CC152 !default;
$brand-info:    #3BAFDA !default;
$brand-warning: #F6BB42 !default;
$brand-danger:  #DA4453 !default;

$colors-map: (
  "gray":           $gray-100, // $gray-100
  "pink":           #D2527F, // CABARET (pink)
  "red":            #EC644B, // SOFT RED (red)
  "blue":           #4183D7, // ROYAL BLUE (blue)
  "orange-light":   #E9D460, // CONFETTI (orange-light)
  "green":          #87D37C, // GOSSIP (green)
  "pink-dark":      #DB0A5B, // RAZZMATAZZ (pink-dark)
  "purple-dark":    #674172, // HONEY FLOWER (purple-dark)
  // "aquamarine":  #4ECDC4, // MEDIUM TURQUOISE (aquamarine)
  "orange":         #F89406, // CALIFORNIA (orange)
  // "dark":        #D24D57, // CHESTNUT ROSE (pink-dark)
) !default;

// Sidebar
$sidebar-bg:                                $gray-100 !default; // $gray-100est
$sidebar-brand-text:                        $text-muted !default; // $text-muted
$sidebar-nav-header-margin-top:             1rem !default;
$sidebar-nav-header-text:                   $text-muted !default;
$sidebar-nav-link-bg:                       darken($sidebar-bg, 5%) !default;
$sidebar-nav-link-text:                     #000 !default;
$sidebar-content-padding-y:                 1rem !default;
$sidebar-width:                             18.75rem !default; // 300px
$sidebar-link-padding-x:                    1rem !default;
$sidebar-link-padding-y:                    .625rem !default;
$sidebar-submenu-link-padding-y:            .4rem !default;
$sidebar-submenu-link-padding-left-default: $sidebar-link-padding-x + 1.5rem;
$sidebar-submenu-link-padding-left:         1rem !default;
$sidebar-nav-submenu-level-max:             5;
$zindex-sidebar-wrapper:                    1000 !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-text:    #3c763d !default;
$state-success-bg:      #b9df90 !default;
$state-success-border:  darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:       #31708f !default;
$state-info-bg:         #7cd1ef !default;
$state-info-border:     darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:    #8a6d3b !default;
$state-warning-bg:      #8a6d3b !default;
$state-warning-border:  darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:     #a94442 !default;
$state-danger-bg:       #f2838f !default;
$state-danger-border:   darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//== Forms
$input-border-focus: $brand-primary;

//== Panels
$panel-default-heading-bg: #FFFFFF;