<div class="d-flex justify-content-end">
  <div class="mr-auto">
    <% if subtitle %>
      <h5><%= subtitle %></h5>
    <% end %>

    <% if title %>
      <h6 class="d-inline text-muted"><%= title %></h6>
    <% end %>
  </div>
  <% if control %>
    <div class='pull-right'>
      <%= control %>
    </div>
  <% end %>
</div>

<hr class='my-3'>