<% if subtitle %>
  <h6 class='text-muted'><%= subtitle %></h6>
<% end %>

<% if title %>
  <h5 class="d-inline"><%= title %></h5>
<% end %>

<% if control %>
  <div class='pull-right'>
    <%= control %>
  </div>
<% end %>

<hr class='my-3'>