<% flash.each do |key, value| %>
	<div class='alert alert-<%= key %> alert-dismissible fade in' role='alert'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
		<% if value.is_a? Hash %>
			<% if value[:title] %>
				<h4><%= value[:title] %></h4>
			<% end %>
			<%= value[:message] %>
		<% else %>
			<%= value %>
		<% end %>
	</div>
<% end %>