<div id="search-bar" class="search-bar collapse">
  <div>
    <div class='search-bar-close m-l-2' data-toggle="collapse" data-target="#search-bar" aria-expanded="false" aria-controls="search-bar">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='search-bar-input'>
      <%= search_tag users_path, class: "" %>
    </div>
  </div>
  <div class="search-bar-results">
  </div>
</div>