<div id="search-bar" class="search-bar collapse">
  <div class="search-bar">
    <div class='search-bar-close'>
      <button class="btn btn-link nav-link p-x-0" type="button" data-toggle="collapse" data-target="#search-bar" aria-expanded="false" aria-controls="search-bar">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class='search-bar-input'>
      <%= search_tag teams_path %>
    </div>
  </div>
  <div class="search-bar search-bar-results">
  </div>
</div>