<nav class='navbar navbar-main navbar-light bg-white d-flex justify-content-start'>
  <ul class='navbar-nav'>
    <button class='navbar-toggler' type='button' data-toggle='collapse' id='menu-toggle'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- TODO: delete -->
    <!-- <li class='nav-item'>
      <a class='nav-link'>
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>
    </li> -->
    <%= render 'layouts/language_menu' %>
    <%= render 'layouts/user_menu' %>
  </ul>
</nav><!--/.navbar -->